:root {
    --vermelha: #E50914;
    --preta: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* elementos base */

body {
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelha);
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}


/* filme principal */

.filme-principal {
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url("https://i.picsum.photos/id/671/1000/500.jpg?hmac=FAY2tEDbkzmTct703mTaaZgQTpFXS-2vqF9MEqcY-go");
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    height: 500px;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 45px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 14px;
    padding: 17px 34px;
    font-size: 14px;
    transition: .6s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}